$main: #241810;
$white: #FCFCFC;

$background: #F9F4EF;

$primary: #A67B56;
$primary-light-1: #D3BDAB;
$primary-light-2: #E4D7CC;
$primary-light-3: #F5E8DC;
$primary-dark-1: #423122;
$primary-dark-2: #3e2a1b;

$secondary: #D9704A;
$secondary-light-1: #E49B80;
$secondary-light-2: #ecb8a5;
$secondary-light-3: #f7e2db;
$secondary-dark-1: #82432C;
$secondary-dark-2: #412216;

$red: #C8553D;
$red-light: #f77c80;
$red-dark: #540c0e;

$green-light: #8cffab;
$green-dark: #05240d;

$gray: #e1e6f7;