header {
    padding: 3.6rem;
    background-color: $primary-light-3;
}

.logo { 
    display: block;
    text-align: center;

    font-family: 'Noto Serif';
    font-size: 2.8rem;
    text-decoration: none;
    font-weight: 700;

    margin-bottom: 2.4rem;

    &:link,
    &:visited {
        color: $primary-dark-1;
        transition: all 0.35s;
    }

    &:hover,
    &:active {
        color: $primary;
    }

    span {
        margin-left: 2px;
        display: inline-block;
        font-family: 'Bebas Neue';
        letter-spacing: 3px;
        color: $primary;

        transition: all 0.35;
    }
}

#main-nav {
    display: flex;
    justify-content: center;

    font-size: 1.8rem;

    ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        align-items: center;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            
            a:link, a:visited { 
                color: $primary-dark-1;
                text-decoration: none;
                transition: all 0.35s;
            }

            a:hover, a:active {
                color: $primary;
            }  

            button {
                font-family: inherit;
                font-size: inherit;
                outline: none;
                border: none;
                background-color: transparent;
                color: $primary-dark-1;

                transition: all 0.35s;
                &:hover, &:active {
                    cursor: pointer;
                    color: $secondary;
                }
            }
        }
    }
}

@media screen and (max-width: 23.5em) {
    header {
        padding: 2.5rem;
    }
    
    .logo {
        margin-bottom: 2rem;
    }

    #main-nav {
        ul {
            flex-direction: column;
            gap: 0.6rem;
        }
    }
}